@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.App {
    text-align: center;
    background-color: cornflowerblue;
    height: 100vh;
    padding: 10px;
}

.dreidel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 auto;
}

.stem {
    background-color: goldenrod;
    height: 100px;
    margin: 0;
    width: 30px;
    box-shadow: gray 1px 1px 1px 1px;
}

.body {
    background-color: goldenrod;
    height: 200px;
    width: 140px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: gray 2px 0px 0px 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 1;
}

.point {
    background-color: goldenrod;
    height: 100px;
    width: 100px;
    margin: 0;
    transform: translate(0%, -54%) rotate(45deg);
    box-shadow: gray 1px 1px 1px 1px;
    border-radius: 6px;
}

img {
    height: 100px;
    width: 100px;
    z-index: 2;
}

button {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: goldenrod;
    box-shadow: gray 1px 1px 1px 1px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    -webkit-text-fill-color: goldenrod;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 2px;
}
